{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Acerca de...</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, iure ducimus! Magnam aliquid sint, cupiditate quasi, hic eius vero error alias omnis maxime facere nisi deleniti quaerat incidunt! Quisquam, molestias.</p>
    </div>
    
   <div class="col-4">
       {{!-- <img src="../public/assets/img/CrabNebulaHubble.jpg" alt="Imagen-de-prueba" class="thumbnail"> --}}
        <img src="/assets/img/CrabNebulaHubble.jpg" alt="Imagen-de-prueba" class="img-thumbnail">
   </div>
</div>

{{> footer }}